*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}
.loader{
    position: relative;
    /* border: 1px dotted red; */
}
.loader span{
    position: relative;
    font-size: 2em;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
    animation-play-state: paused;
}
.loader:hover span{
    animation-play-state: running;
}
@keyframes animate{
    0%, 40%, 100%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-80px);
    }
}

@media (max-width: 576px){
    .loader span{
    font-size: 1.5em;
    }
}
